.App {
  text-align: center;
}

.block {
  display: inline-block;
  width: 15px;
  height: 15px;
  font-size: 12px;
  outline: .5px solid #ccc;
}

.block-value-1 {
  background-color: blue;
}

.block-value-2 {
  background-color: green;
}
