.App {
  text-align: center;
}

.title {
  font-size: 38px;
}

.stats-panel {
  margin: 10px;
  display: flex;
  justify-content: space-evenly;
}

.map {
  margin-top: 20px;
}

.map-row {
  margin: -5px;
}

.block {
  display: inline-block;
  width: 15px;
  height: 15px;
  font-size: 12px;
}

[class*="block-value-"] {
  background-color: crimson;
}

.block-value-0 {
  background-color: white;
}

.block-value-1 {
  background-color: blue;
}

.block-value-2 {
  background-color: green;
}

.block-value-3 {
  background-color: gold;
}

.block-value-4 {
  background-color: gray;
}

.block-value-5 {
  background-color: purple;
}

.block-value-400 {
  background-color: violet
}

.blackout {
  background-color: black;
}

