.App {
  text-align: center;
}

.block {
  display: inline-block;
  width: 15px;
  height: 15px;
  font-size: 12px;
  outline: .5px solid #ccc;
}

[class*="block-value-"] {
  background-color: crimson;
}

.block-value-0 {
  background-color: white;
}

.block-value-1 {
  background-color: blue;
}

.block-value-2 {
  background-color: green;
}

.block-value-3 {
  background-color: gold;
}

.block-value-4 {
  background-color: gray;
}

.blackout {
  background-color: black;
}

